
# Configurações
Options -Indexes
Options +FollowSymLinks

# Rewrite
RewriteEngine On

# Basepath
RewriteBase /slim-mvc-skel/public_html

# Rewrite do slim
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
